.wrapper {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  border-radius: var(--radius-lg);
  display: block;
  margin-bottom: var(--space-sm);
}

.label {
  font-size: var(--font-size-sm);
  color: var(--color-text-subtle);
}
